@media (min-width: 992px) {
	div{
		width: 30%;
		display: inline;
		margin-left: 25px;
		float: left;
	}
	
		h2{
		width: 15%;
		margin-left: auto;
		margin-right: auto;
		visibility: visible;
	}
	
	h3{
		visibility: hidden;
	}
	
	div.section{
		width:20%;
		float:right;
		display: block;
		visibility: visible;
	}
	
	div.section.alt{
		visibility: hidden;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	div{
		width: 45%;
		display: inline;
		margin-left: 25px;
		float: left;
	}
	.secondRow{
		width: 94%;
	}
	
	h2{
		width: 15%;
		margin-left: auto;
		margin-right: auto;
		visibility: visible;
	}
	
	h3{
		visibility: hidden;
	}
	
	div.section{
		width:20%;
		float:right;
		display: block;
		visibility: visible;
	}
	
	div.section.alt{
		visibility: hidden;
	}
}
@media (max-width: 767px) {
	div{
		width: 90%;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	
	h2{
		visibility: hidden;
	}
	
	h3{
		visibility: visible;
		font-family: fantasy;
		margin-left: 25px;
	}
	
	div.section{
		visibility: hidden;
	}
	
	div.section.alt{
		width: 100%;
		visibility: visible;
	}
}


div.section.one{
	background-color: gold;
}

div.section.two{
	background-color: Silver;
}

div.section.three{
	background-color: MediumOrchid;
	color: white;
}

.content{
	width:90%;
	margin-left:auto;
	margin-right:auto;
	margin-top: 50px;
}

.box{
	max-height: 150px;
	overflow-y: hidden;
}

:HOVER .box{
	cursor: se-resize;
	overflow-y: scroll;
}

div{
	border: 1px solid black;
	margin-bottom: 25px;
}

span{
	width: 90%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
