@media (min-width: 992px) {
	div{
		width: 30%;
		display: inline;
		margin-left: 25px;
		float: left;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	div{
		width: 45%;
		display: inline;
		margin-left: 25px;
		float: left;
	}
	.secondRow{
		width: 90%;
	}
}
@media (max-width: 767px) {
	div{
		width: 90%;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}
h3{
	width: 15%;
	margin-left: auto;
	margin-right: auto;
}

div.title{
	width:15%;
	float:right;
	display: block;
	margin-left:0px;
	margin-bottom: 10px;
}

div.content{
	display: block;
	float: none;
	width:100%;
	margin-left:0px;
}
